In [289]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [291]:
epi_dta_2020 = pd.read_stata("./Dataset/epi_cpsbasic_2020.dta", convert_categoricals=True)

In [292]:
epi_dta_2020_df = pd.DataFrame(epi_dta_2020)

## List of columns that are useful
### Demographics
age = NONE NAN , citistat= NONE NAN , citizen =NONE NAN , famrel = NONE NAN , female = NONE NAN , married= SOME NAN , (ownchild) , veteran=SOME NAN, wbhao = NONE NAN
### Education
educ =some NAN
### Employment
[cow1 , cow2] = Can't Use , emp = Some NAN, multjobs = HALF NAN, numjobs = HALF NAN ,dlfstat = SOME NAN

### Geography
cbsasize = NONE NAN, metstat = LITTLE NAN , region = NONE NAN, statefips = NONE NAN

### Hours
Empty

### Identification
**personid**  , famid NOT USING, famtype NOT USING, hhtype NOT USING

### Income
faminc = NONE NAN, paidhre =NAN , wage =NAN , wageotc=NAN ,weekpay=NAN

### Industry & Occupation
[dind03, docc03, mocc03,  mocc10] = Half NAN ,occ18 = << HALF NAN

### Weights 
basicwgt = SOME NAN

In [381]:
# This function will take the epi data and process it by cleaning and choosing the right columns that will be used for analysis
def StataDFProcessing(df):
    datacolumns = ['region','statefips','age','female','wbhao','educ','faminc','emp','dlfstat','dind03','mocc10','occ18','multjobs','numjobs','metstat','cbsasize','citistat','citizen','famrel','married','veteran','basicwgt']
    df_stg1 = df[datacolumns]
    print(f"Dataframe NaN Summary: \n{df_stg1.isna().sum()}")
    print(f"Dataframe Length Before Cleaning: {len(df_stg1)}")
    print("---------------CLEANING BEGINS----------------")
    print("Dropping NAN")
    df_stg2 = df_stg1.dropna(how='any')
    print("Dropping -1")
    df_stg2 = df_stg2[df_stg2.occ18 != -1]
    print("Resetting Index")
    df_stg2.reset_index(inplace=True)
    print("---------------CLEANING ENDS----------------")
    print(f"Dataframe Length After Cleaning: {len(df_stg2)}")
    print(f"Dataframe NaN Summary: \n{df_stg2.isna().sum()}")
    return df_stg2

In [383]:
test = StataDFProcessing(epi_dta_2020_df)

Dataframe NaN Summary:
region            0
statefips         0
age               0
female            0
wbhao             0
educ         223289
faminc            0
emp          227585
dlfstat      227585
dind03       643520
mocc10       663944
occ18             0
multjobs     695725
numjobs      695725
metstat       13223
cbsasize          0
citistat          0
citizen           0
famrel            0
married      223289
veteran      259771
basicwgt     243630
dtype: int64
Dataframe Length Before Cleaning: 1273475
---------------CLEANING BEGINS----------------
Dropping NAN
Dropping -1
Resetting Index
---------------CLEANING ENDS----------------
Dataframe Length After Cleaning: 550189
Dataframe NaN Summary:
index        0
region       0
statefips    0
age          0
female       0
wbhao        0
educ         0
faminc       0
emp          0
dlfstat      0
dind03       0
mocc10       0
occ18        0
multjobs     0
numjobs      0
metstat      0
cbsasize     0
citistat     0
citizen      0
famrel       0
married      0
veteran      0
basicwgt     0
dtype: int64

In [376]:
test

,index,region,statefips,age,female,wbhao,educ,faminc,emp,dlfstat,dind03,mocc10,occ18,multjobs,numjobs,metstat,cbsasize,citistat,citizen,famrel,married,veteran,basicwgt
0,3,South,AL,21,Male,White,High school,"$25,000 - $29,999",Employed,Employed-at work,Food services and drinking places,Services,"Hosts and Hostesses, Restaurant, Lounge, and C...",Does not have more than one job,Employed with one job,Metropolitan,"250,000 - 499,999","Native, born in US",US citizen,Child,Not married,Not a veteran,3096.604004
1,4,South,AL,48,Female,White,College,"$25,000 - $29,999",Employed,Employed-at work,Food services and drinking places,Services,Waiters and Waitresses,Does not have more than one job,Employed with one job,Metropolitan,"250,000 - 499,999","Native, born in US",US citizen,Not a family member,Not married,Not a veteran,1759.081177
2,5,South,AL,41,Male,Black,High school,"$40,000 - $49,999",Employed,Employed-at work,"Health care services, except hospitals",Personal care and personal services,Personal Care Aides,Does not have more than one job,Employed with one job,Metropolitan,"250,000 - 499,999","Native, born in US",US citizen,Reference person,Married,Not a veteran,2225.236084
3,6,South,AL,38,Female,Black,High school,"$40,000 - $49,999",Employed,Employed-at work,"Health care services, except hospitals",Office and admin,Receptionists and Information Clerks,Does not have more than one job,Employed with one job,Metropolitan,"250,000 - 499,999","Native, born in US",US citizen,Spouse,Married,Not a veteran,2012.664185
4,14,South,AL,23,Female,Black,Some college,"$12,500 - $14,999",Employed,Employed-at work,Retail trade,Sales,Cashiers,Does not have more than one job,Employed with one job,Metropolitan,"250,000 - 499,999","Native, born in US",US citizen,Not a family member,Not married,Not a veteran,2487.654541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550184,1273459,West,WY,31,Male,White,High school,"$75,000 - $99,999 (2003m10-present) / $75,000+...",Employed,Employed-at work,Educational services,"Precision production, craft and repair","Maintenance and Repair Workers, General",Does not have more than one job,Employed with one job,Metropolitan,Not identified or nonmetropolitan,"Native, born in US",US citizen,Spouse,Married,Not a veteran,308.545013
550185,1273463,West,WY,39,Male,White,Some college,"$75,000 - $99,999 (2003m10-present) / $75,000+...",Employed,Employed-at work,Retail trade,Sales,First-Line Supervisors of Retail Sales Workers,Does not have more than one job,Employed with one job,Metropolitan,Not identified or nonmetropolitan,"Native, born in US",US citizen,Reference person,Married,Not a veteran,334.328613
550186,1273464,West,WY,37,Female,White,Some college,"$75,000 - $99,999 (2003m10-present) / $75,000+...",Employed,Employed-at work,Retail trade,Sales,First-Line Supervisors of Retail Sales Workers,Does not have more than one job,Employed with one job,Metropolitan,Not identified or nonmetropolitan,"Native, born in US",US citizen,Spouse,Married,Not a veteran,342.241699
550187,1273470,West,WY,22,Female,White,High school,"$35,000 - $39,999",Employed,Employed-at work,Administrative and support services,Services,Janitors and Building Cleaners,Does not have more than one job,Employed with one job,Metropolitan,Not identified or nonmetropolitan,"Native, born in US",US citizen,Spouse,Married,Not a veteran,444.767395
550188,1273471,West,WY,40,Female,Hispanic,College,"$40,000 - $49,999",Employed,Employed-at work,Educational services,Managers and professionals,Elementary and Middle School Teachers,Has more than one job,Two jobs,Metropolitan,Not identified or nonmetropolitan,"Native, born in US",US citizen,Reference person,Not married,Not a veteran,342.266510

In [ ]:
## TODO Create a column to show what year the data is from I.E this test data is from 2020.